* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.bold {
  font-weight: 700;
}

/* Header/Navbar section */
.header {
  background-color: #806c56;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 67px;
  font-family: "inter", sans-serif;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo {
  font-family: "fleur de leah";
  font-size: 4rem;
  color: #0b0b0b;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-list li a {
  text-decoration: none;
  color: #0b0b0b;
  padding: 5px 8px;
  border-radius: 8px;
  transition: background-color 0.5s;
  font-size: 25px;
}

.CTA {
  font-weight: bold;
  font-size: 30px;
  border: 2px solid #0b0b0b;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #ab9277;
  text-decoration: none;
  color: #0b0b0b;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

.CTA:hover {
  background-color: #957b5f;
  color: #f7f7f7;
  border-color: #0b0b0b;
  transition: background-color 0.5s;
}

.nav-list li a:hover {
  background-color: #6e5a53;
  color: #f7f7f7;
  cursor: pointer;
}

/* Main */
/* Hero section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  height: 100vh;
  background: url("../assets/blur.png") no-repeat;
  background-size: cover;
  font-family: "inter", sans-serif;
  position: relative;
}

.hero-text p {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 5px;
  color: #0b0b0b;
}

.hero-text h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: #ffd7aa;
}

.icons {
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
}

.hero-img-wrapper {
  position: relative;
  width: 435px;
  height: 435px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* About me section */
.about {
  position: relative;
  height: 100vh;
  padding: 25px 80px;
  background-image: linear-gradient(to bottom, #806c56, #b8a594);
  font-family: "Inter", sans-serif;
}

.about-title {
  position: absolute;
  font-size: 3rem;
  padding-right: 25px;
  padding-top: 25px;
}

.title-line-about {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 1200px;
  height: 4px;
  background-color: #0b0b0b;
  margin-top: 12.5px;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 180px;
  gap: 300px;
  width: 100%;
}

.about-text h3 {
  font-size: 42px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.bulat {
  font-style: normal;
  font-size: 25px;
  color: rgb(67, 67, 67);
}

.job {
  font-style: normal;
  font-size: 36px;
  color: #0b0b0b;
  padding-top: 5px;
}

.about-text p {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.25;
  color: #0b0b0b;
  margin-bottom: 35px;
}

.about-img {
  width: 400px;
  height: 400px;
  border-radius: 25px;
}

/* Skills Section */
.skills {
  height: 100vh;
  padding: 25px 80px;
  background-color: #b8a594;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-title {
  position: relative;
  font-size: 3rem;
  padding-right: 25px;
  margin-bottom: 50px;
  color: #0b0b0b;
  align-self: flex-start;
}

.title-line-skills {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 1200px;
  height: 4px;
  background-color: #0b0b0b;
}

.skills-content {
  padding-top: 0px;
  font-size: 36px;
  text-align: center;
}

.skill-cards {
  display: grid;
  grid-template-columns: repeat(4, 258px);
  gap: 25px;
  width: 1100px;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-items: center;
}

.skill-card {
  background-image: linear-gradient(to bottom, #a5907d, #8d7b67);
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  width: 245px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
  transition: transform 0.2s ease;
  font-size: 30px;
  text-align: center;
}

.skill-card:hover {
  transform: scale(1.05);
}

.skill-card img {
  width: 75px;
  object-fit: contain;
  margin-bottom: 15px;
}

.skills-content-bawah {
  font-size: 36px;
  text-align: center;
}

/* Projects section */
.projects {
  min-height: 100vh;
  padding: 25px 80px;
  background-color: #b8a594;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-title {
  position: relative;
  font-size: 3rem;
  padding-right: 25px;
  margin-bottom: 50px;
  align-self: flex-start;
}

.title-line-project {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 1200px;
  height: 4px;
  background-color: #0b0b0b;
}

.project {
  background-color: #a5907d;
  border-radius: 25px;
  padding-left: 36px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 9.92rem;
  width: 1400px;
  height: 500px;
}

.project-info h3 {
  font-weight: 700;
  font-size: 36px;
}

.container {
  width: 600px;
  height: 90px;
  font-size: 20px;
}

.project-img-wrapper {
  width: 454px;
  height: 328px;
  border-radius: 12px;
}

.project-img-wrapper img {
  border: #0b0b0b solid;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 4px 4px 4px #333333cc;
  transition: transform 0.2s ease;
}

.project-img-wrapper img:hover {
  transform: scale(1.05);
}

.timeline-platform {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  font-size: 20px;
}

/* Ini Experience section */
/* .experience{
  display: flex;
  justify-content:baseline;
  align-items: center;
  background-color: #b8a594;
  height: 100vh;
} */

/* Ini Contact section */
.contact {
  display: flex;
  background-image: linear-gradient(to bottom, #b8a594, #806c56);
  height: 100vh;
  padding: 25px 80px;
  font-family: "Inter", sans-serif;
}

.contact-title {
  position: absolute;
  font-size: 3rem;
  padding-right: 25px;
  padding-top: 25px;
}

.title-line-contact {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 1200px;
  height: 4px;
  background-color: #0b0b0b;
  margin-top: 12.5px;
}

.contact-container {
  display: flex;
  align-items: center;
  gap: 13rem;
}

.contact-form {
  padding: 25px;
  border-radius: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

input::placeholder {
  font-size: 36px;
  font-family: "inter", sans-serif;
}

textarea::placeholder {
  font-size: 36px;
  font-family: "inter", sans-serif;
}

.input-name {
  background-image: linear-gradient(to bottom, #a5907d, #8d7b67);
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 25px;
  height: 62px;
  width: 300px;
  font-size: 36px;
  font-family: "inter", sans-serif;
  box-shadow: 4px 4px 4px #333333cc;
  padding: 10px;
}

.input-email {
  background-image: linear-gradient(to bottom, #a5907d, #8d7b67);
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 25px;
  height: 62px;
  width: 420px;
  font-size: 36px;
  font-family: "inter", sans-serif;
  box-shadow: 4px 4px 4px #333333cc;
  padding: 10px;
}

.input-message {
  background-image: linear-gradient(to bottom, #a5907d, #8d7b67);
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 25px;
  height: 232px;
  width: 567px;
  font-size: 36px;
  font-family: "inter", sans-serif;
  box-shadow: 4px 4px 4px #333333cc;
  padding: 10px;
}

/* .input,
.input-message {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 15px;
  background-color: #6e5a53;
  outline: none;
} */

.CTA-form {
  font-weight: bold;
  font-size: 30px;
  border: 2px solid #0b0b0b;
  padding: 20px 30px;
  border-radius: 8px;
  background-color: #ab9277;
  text-decoration: none;
  color: #0b0b0b;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  max-width: 167px;
}

.CTA-form:hover {
  background-color: #957b5f;
  color: #f7f7f7;
  border-color: #0b0b0b;
  transition: background-color 0.5s;
}

.text-content {
  flex: 1;
  color: #0b0b0b;
}

.text-content h1 {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-content h2 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 10px;
  color: #0b0b0b;
}

/* Ini Footer section */

.footer {
  background-color: #806c56;
  height: 3rem;
  display: flex;
  justify-content: center;
}

.footer-line {
  position: absolute;
  width: 1567px;
  height: 3px;
  background-color: #0b0b0b;
}

.copyright {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-family: "Inter", sans-serif;
}

.copyright span {
  font-weight: bold;
}

/* Resposive */
/* Ini untuk Tablet */
@media (min-width: 678px) and (max-width: 1024px) {
}
